.cv__header {
  background-color: #3e4451;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.timeline {
  margin-left: 20vw;
}

.closed__arrow {
  transform: rotate(-90deg);
  animation: close 0.2s linear;
}

.open__arrow {
  transform: rotate(0deg);
  animation: open 0.2s linear;
}

.cv__toggler {
  margin-bottom: 0px;
}

@keyframes close {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes open {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
