.App {
  background-color: #3e4451;
}

.rectangle {
  height: 2px;
  width: 80px;
  background-color: black;
}

.home__title {
  pointer-events: none;
}

.home__border {
  border-color: #3e4451 !important;
  width:100%;
  height:100px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  position: absolute;
  z-index: 10;
  background-color: inherit;
}

.inside__style {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  zindex: 20;
}

.inside__style-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  zindex: 20;
}

.started {
  fill: transparent;
}

.finsihed {
  fill: url(#linear);
}

@keyframes background_anim {
  from {
    fill: transparent;
  },
  to {
    fill:
  }
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../static/fonts/Cache-Oblique.ttf) format('woff');
}
