.App {
  background-color: #3e4451;
}

.rectangle {
  height: 2px;
  width: 80px;
  background-color: #3e4451;
}

.home__title {
  position: fixed;
  pointer-events: none;
  left:0;
  right:0;
  top:0;
  bottom:0;
  max-width:100%;
  max-height:100%;
}

.particle {
  width:100%;
  height: 92vh;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.static__holder {
  height: 100vh;
  background-color: #3e4451;
}

.inside__style {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  zindex: 20;
}

.inside__style-content {
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  zindex: 20;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../static/fonts/Cache-Oblique.ttf) format('woff');
}
