.navbar,
.navbar-default {
    list-style-type: none;
    padding: 0px;
    background-color: #282c34 !important;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.navbar__small {
  transition: all 0.1s linear 0.1s;
  min-height: 5vh;
}

.navbar__big {
  transition: all 0.1s linear 0.1s;
  min-height: 10vh;
}

.navbar-brand {
  color: white !important;
}

.navbar-brand:hover {
  color: LightGrey !important;
}

.nav__link {
  color: white !important;
  text-decoration: none;
}

.nav__link:hover {
  color: LightGrey !important;
  text-decoration: none;
}
