.navbar,
.navbar-default {
    list-style-type: none;
    padding: 0px;
    background-color: #282c34 !important;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.navbar__small {
  transition: all 0.2s ease-in-out;
  min-height: 5vh;
}

.navbar__big {
  transition: all 0.2s ease-in-out;
  min-height: 8vh;
  font-size: 20px;
  background-color: transparent !important;
}

.navbar__header {
}

.navbar__item {
}

.nav__header {
  color: white !important;
  font-size: inherit;
}

.nav__header:hover {
  color: LightGrey !important;
}

.nav__item {
  color: white !important;
  text-decoration: none !important;
  padding: 10px;
}

.nav__item:hover {
  color: LightGrey !important;
  text-decoration: none;
}
